html{
    min-height: 100%;
    background-image: linear-gradient(rgb(43, 35, 35), black);
}
.title{
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    color: white;
}
.form{
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 500px;
}